body {
    width: 100%;
    height: 100%;
    font-family: "Verdana";
    font-size: large;
} 

table {
    text-align: center;
    border: 0px dashed;
    border-collapse: collapse;
    margin: auto;
}

td {
    padding: 15px;
    text-align: center;
    border: 1px dashed;
    border-collapse: collapse;
}

th {
    padding: 15px;
    text-align: center;
    border: 1px dashed;
    border-collapse: collapse;
    font-weight: bold;
}

#colorDiv {
    position: fixed;
    background-color: red;
    display: none;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

/* style for introduction screen */
#introDiv {
    padding: 30px;
    position: fixed;
    background-color: rgba(218, 231, 231, 0.75);
    display: block;
    color: #838b8b;
    width: 50%;
    top: 10%;
    left: 25%;           
}

#startDiv {
    padding: 30px;
    position: fixed;
    background-color: rgba(218, 231, 231, 0.75);
    display: none;
    color: #838b8b;
    width: 50%;
    top: 10%;
    left: 25%;
}

#resultsDiv {
    padding: 30px;
    position: fixed;
    background-color: rgba(218, 231, 231, 0.75);
    display: none;
    color: #838b8b;
    width: 50%;
    top: 10%;
    left: 25%;
}

span {
    font-weight: bold;
}